.icon-wrapper::-webkit-scrollbar {
  display: none;
}

.icon-wrapper::-webkit-scrollbar {
  display: none;
}

.chat-icon {
  position: absolute;
  bottom: 1%;
  right: 1%;
  position: fixed;
  z-index: 100;
  color: #fff;
}
