.ui,
ui.form,
#root {
  font-family: "Poppins", "sans-serif" !important;
  letter-spacing: 0.4px;
}

.auth-page {
  align-items: center !important;
  background-color: #fafbfc !important;
  display: flex !important;
  flex-direction: column !important;
  height: 100vh !important;
  justify-items: center !important;
  position: relative !important;
}

.ui.tiny.modal {
  width: 300px !important;
  color: #b8ccf0 !important;
}

.ui.button {
  font-weight: 300 !important;
  border-radius: 2px !important;
}

.ui.modal > .close {
  top: 1.5% !important ;
  right: 0.5rem !important;
  color: #767676 !important;
}

#app {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.ui.labeled.icon.button.add-cover-dropdown {
  padding-left: 40px !important;
  padding-right: 10px !important;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.64) !important;
}

.ui.button.close-modal-icon {
  position: absolute;
  top: 6px;
  right: 5px;
  z-index: 10;
  border-radius: 60px !important;
  background: #000 !important;
  opacity: 0.4;
  color: #fff !important;
  width: 35px;
  height: 36px;
}

.div-flex {
  display: flex;
}

.tab-container {
  border: none !important;
}

.message-box {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  width: 100%;
  position: absolute !important;
  top: 3%;
  z-index: 9999999 !important;
}

.message-box > div > ul {
  text-align: center !important;
  list-style-type: none !important;
  font-weight: 700 !important;
}

.message-box > div > ul > li:before {
  content: none !important;
}

.images-container::-webkit-scrollbar {
  display: none;
}

.upload {
  opacity: 0;
  z-index: -1;
}

.ui-textarea-wrap {
  height: 100px;
}

.ui-textarea {
  width: 100%;
  height: 100%;
  background: #eee;
  border-radius: 4px;
  padding: 5px;
  font-weight: 500;
  border: none;
  color: #162b4d;
}

.uibutton:hover {
  background-color: #2224261a !important;
  text-align: "left" !important;
}

#authForm {
  min-width: 300px;
  box-shadow: 0px 0px 35px -8px #000000bf;
  padding: 10px;
  border-radius: 3px;
}

.boards-grid {
  display: grid;
  grid-template-columns: 2fr 8fr;
}

.boards-grid-wrap {
  margin-left: 22%;
  margin-right: 14%;
  margin-top: 1%;
}

.logo-container {
  color: #0079bf;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  transition-duration: 500ms;
  width: max-content;
  position: absolute;
  top: 16%;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  justify-content: center;
  font-weight: 800;
  color: #162b4d;
  text-align: center;
  height: 96vh;
}

.no-user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: #162b4d;
  text-align: center;
  height: 96vh;
  text-transform: uppercase;
}

.error-page-wrap {
  align-items: center;
  background: #f4f5f7;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  color: #162b4d;
}
