.nav-menu-icon {
  color: white;
  font-size: 20px !important;
  font-weight: 100 !important;
}

.mobile-navbar {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 5px 10px;
  align-items: center;
}

.nav-button-text {
  color: #fff !important;
}

.nav-button-icon {
  font-size: 14px !important;
  color: #fff;
}

.nav-board-image {
  border-radius: 2px;
}

i.big.icon {
  font-size: 32px !important;
  margin-left: -12px;
}
