.sidebar-board-description {
  display: flex;
  padding-top: 15px;
  padding-bottom: 10px;
}

.sidebar-board-description > span {
  padding-left: 15px;
  font-weight: 800;
}

.sidebar-activities::-webkit-scrollbar {
  display: none;
  overflow-y: scroll;
}
.sidebar {
  border: none !important;
}

.ui.sidebar {
  border-radius: 3px !important;
}

.chat-sidebar {
  border-radius: 8px !important;
  border: none !important;
}

.thread-time,
.chat-room-counter {
  color: #000;
}

.sidebar-activities-wrap {
  max-height: 45vh;
  overflow-x: hidden;
}

.template-sidebar {
  width: 35%;
}

.template-small {
  padding-bottom: 10px;
}

.bg-options-wrap {
  display: flex;
}

.bg-option {
  background: #e6e6fa;
  border-radius: 5px;
  cursor: pointer;
  height: 96px;
  margin-bottom: 8px;
  margin: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #162b4d;
  font-weight: 800;
  font-size: 18px;
}

.bg-option:hover {
  opacity: 0.8;
}

.custom-image-link {
  margin-bottom: 5px;
}

.ui-textarea.custom-image-link {
  min-height: 20px !important;
  height: 39px !important;
  padding-left: 8px;
}
