@import "~semantic-ui-css/semantic.min.css";

@import "~react-datepicker/dist/react-datepicker.css";

@import "~emoji-mart/css/emoji-mart.css";

// Font types
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jost:ital,wght@0,100;1,100&family=Noto+Sans&family=Poppins&family=Roboto&display=swap");

.ui,
ui.form,
#root {
  font-family: Poppins, sans-serif !important;
  letter-spacing: 0.4px;
}

.ui.tiny.modal {
  width: 300px !important;
  color: #b8ccf0 !important;
}

.card-detail-container {
  margin-top: 0px !important;
}

.ui.modal > .close {
  top: 1.5% !important ;
  right: 0.5rem !important;
  color: #767676 !important;
}

.upload {
  opacity: 0;
  z-index: -1;
}

.nav-button-icon {
  font-size: 14px !important;
  color: #fff;
}

.nav-button-text {
  color: #fff !important;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.lists-container::-webkit-scrollbar {
  display: none;
}

.icon-wrapper::-webkit-scrollbar {
  display: none;
}

.icon-wrapper::-webkit-scrollbar {
  display: none;
}

.image-container,
.card-list {
  -ms-overflow-style: none;
}

#app {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.boards-container::-webkit-scrollbar {
  display: none;
}

.image-container::-webkit-scrollbar {
  display: none;
}

.board-menu-sidebar {
  width: 280px !important;
  border-radius: 8px !important;
  border: none !important;
}
.chat-sidebar {
  width: 350px !important;
  border-radius: 8px !important;
  border: none !important;
}

.board-menu-sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-activities::-webkit-scrollbar {
  display: none;
  overflow-y: scroll;
}

.tab-container {
  border: none !important;
}

.sidebar {
  border: none !important;
}

.ui.sidebar {
  border-radius: 3px !important;
}

.message-box {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.item-complete {
  text-decoration: line-through;
}

.auth-page {
  align-items: center;
  background-color: #fafbfc;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-items: center;
  position: relative;
}

.checklist-item-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.checklist-edit-wrap {
  display: flex;
  align-items: baseline;
}

.checklist-item-actions {
  width: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.uibutton:hover {
  background-color: #2224261a !important;
  text-align: "left" !important;
}

.attachment-link {
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 3px;
  margin-top: -40px;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  width: 100%;
}

.attachment-link-text {
  font-weight: 700;
  color: #172b4d;
}

.attachment-link-span {
  background-color: #091e420a;
  color: #5e6c84;
  display: block;
  font-size: 18px;
  font-weight: 700;
  height: 100%;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  width: 112px;
}
.attachment-thumbnail,
.attachment-thumbnail-wrap {
  height: 80px !important;
  width: 112px !important;
  border-top: 0 !important;
}

.image-attachment-container {
  margin-bottom: 10px;
}

.div-flex {
  display: flex;
}

.attachment-thumbnail img {
  height: 80px !important;
  width: 100%;
}

.redirect-icon {
  transform: rotate(-42deg);
  padding-left: 10px;
}

.doc-page-buttons {
  align-items: baseline;
  align-items: center;
  background: #d4d4d5 !important;
  border-radius: 3px;
  bottom: 1%;
  display: flex;
  height: 80px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.doc-page-buttons > i {
  font-size: 20px !important;
}

.document-view-wrap {
  width: fit-content !important;
  background: transparent !important;
  margin: 5vh 0 0 0 !important;
  padding-bottom: 5% !important;
}

.document-view-wrap::after {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.document-content {
  width: fit-content !important;
  background: transparent !important;
}
.page-tracker {
  padding: 5px;
}
