.ui,
ui.form,
#root {
  font-family: Poppins, sans-serif !important;
  letter-spacing: 0.4px;
}

.ui.tiny.modal {
  width: 300px !important;
  color: #b8ccf0 !important;
}

.card-detail-container {
  margin-top: 0px !important;
}

.ui.modal > .close {
  top: 1.5% !important ;
  right: 0.5rem !important;
  color: #767676 !important;
}

.upload {
  opacity: 0;
  z-index: -1;
}

.nav-button-icon {
  font-size: 14px !important;
  color: #fff;
}

.nav-button-text {
  color: #fff !important;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.lists-container::-webkit-scrollbar {
  display: none;
}

.icon-wrapper::-webkit-scrollbar {
  display: none;
}

.icon-wrapper::-webkit-scrollbar {
  display: none;
}

.image-container,
.card-list {
  -ms-overflow-style: none;
}

#app {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.boards-container::-webkit-scrollbar {
  display: none;
}

.image-container::-webkit-scrollbar {
  display: none;
}

.board-menu-sidebar {
  width: 280px !important;
}
.chat-sidebar {
  width: 350px !important;
}

.board-menu-sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-activities::-webkit-scrollbar {
  display: none;
  overflow-y: scroll;
}
